@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800); body {
  background-color: #4c4c4c;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7) url("../images/incroyable_bgimg.png") repeat scroll 0 0;
  font-family: "Open Sans",sans-serif;
}
body {
  overflow-x: hidden;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ddd;
}
.navbar-toggle {
  border-width: 2px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
h1 {
  font-size: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4e4e4e;
  font-family: "Open Sans",sans-serif;
  font-weight: 600;
  line-height: 1.1;
}
h1,
h2,
h3,
h1.page-header {
  margin: 0 0 20px;
}
a {
  color: #1abc9c;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
a:hover,
a:focus {
  color: #337ab7;
}
.alert {
  margin-top: 15px;
}
.main-container .region-header,
.footer.container {
  background-color: #159977;
  color: #fff;
  display: table;
  width: 100%;
}
.main-container .region-content {
  color: #333;
  padding: 30px 15px;
  
}
.container {
  padding-left: 0;
  padding-right: 0;
  max-width: 1140px;
  width: 100%;
}
.page-header {
  border: 0;
}
input[type=submit],
input[type=button],
.button,
.btn-primary {
  padding: 7px 20px;
  background: #15967D;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
  transition: all 0.3s ease-in;
}
.btn-primary:hover {
  background: #777;
}

.form-control {
  border-color: #1abc9c;
  transition: box-shadow 0.3s ease-in;
}
.form-control:focus {
  border-color: #0b4c3f !important;
  box-shadow: inset 0px 0px 3px #0b4c3f !important;
}

.nav-tabs li.active a {
  border-radius: 8px 8px 0 0;
  border-color: #159977;
  background-color: #159977;
  color: 1000000;
}

header.navbar {
  border-radius: 0;
  border: 0;
  padding: 0;
  margin-bottom: 0;
  background: 1000;
  background-color: #f5f5f5 none repeat scroll 0 0;
  border-bottom: 1px solid #e3e3e3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
 }

header.navbar a.name.navbar-brand {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  border-radius: 20px;
}
.logo {
  background: #fff none repeat scroll 0 0;
  margin-left: 20px;
  margin-right: 10px;
  border-radius:20px;
}
.header-wrapper {
  background: 1000;
  min-height: 80px;
}
.brand {
  padding-top: 1%;
}
.navbar.container>.container {
  padding: 0 15px;
}
.region-top-header {
  background: #15967d;
  border-bottom: 1px solid #15967d;
  height: 60px;
}
.region-top-header ul {
  padding: 1.2em 1.5em;
}
.region-top-header ul li {
  color: #fff;
  display: inline-block;
  margin-right: 12px;
  transition: all 0.3s ease-in;
}
.col-sm-6.navbar-header {
  padding-left: 0;
  padding-right:0;
}
.navbar-default .navbar-nav>li>a {
  color: #555;
  padding-top: 22px;
}
.region-navigation .navbar-nav>li>a {
  height: 65px;
}
ul.menu >li a.is-active {
  color: #15967D;
}
ul.menu >li ul {

}
ul.menu >li.expanded.dropdown:hover,
ul.menu >li ul li:hover {
  
}
ul.menu >li ul li a.is-active {
  background: transparent;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.open>a {
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition: color 300ms, background-color 300ms;
  transition: color 300ms, background-color 300ms;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open >a:focus,
.navbar-default .navbar-nav > .open >a:hover {
  background-color: #15967d;
  color: #fff;
}
.top-bar {
  position: relative;
}
button.navbar-toggle {
  position: absolute;
  right: 0;
  top: 3px;
}
/* content */
article {
  margin: 10px 0;
}

article .author {
  margin-bottom: 10px;
}
.main-container {
  background: #fff;
  min-height: 380px;
}
.main-container section.col-sm-9 {
  padding-right: 0;
}
.main-container aside.col-sm-3 {
  padding-left: 0;
}
/* sidebar second */
.region-sidebar-second {
  margin-bottom: 0;
  border-radius: 0;
}
h2.node-title {
  color: #1abc9c;
}
/* Bottom Region */
#bottom {
  background: #2e2e2e;
  font-size: 14px;
  padding: 34px 0;
}
#bottom .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#bottom .widget {
  display: block;
  margin: 0px 0 12px 0;
  border-bottom: 1px dotted #e4e9f0;
}
#bottom h3 {
  margin: 0 0 -1px 0;
  padding-bottom: 10px;
  display: inline-block;
  border-bottom: 2px solid #1abc9c;
  color: white;
}
#bottom .row {
  color: white;
}

/*Footer Region*/

.footer {
  margin-top: 0px;
  padding: 15px;
}

/* media css */
@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}
@media screen and (min-width: 768px) {
  .main-container, .footer.container {
    max-width: 720px;
  } 
}
@media screen and (min-width: 992px) {
  .main-container, .footer.container {
    max-width: 940px;
  }
}
@media screen and (min-width: 1200px) {
  .main-container, .footer.container {
    max-width: 1140px;
  }
}
